<!DOCTYPE html>
<html lang ="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title> Title</title>
</head>
<body>
<h2>Hello World!</h2>
<p th:text="#{static.message}"></p>
</body>
</html>
